<!DOCTYPE html>
<html>
  <head>
    <title>AcChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(function () {
        $('[data-toggle="popover"]').popover({
          placement: 'bottom'
        })
    })
    </script>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="header">
          <div class="row">
            <div class="col-md-6">
              <%= link_to root_path, class: 'logo' do %>
                <h4>
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                  Action Cable Chat
                </h4>
              <% end %> 
            </div>
    
            <div class="col-md-6 links">
              <p>
                <%= link_to edit_user_registration_path(current_user) do %> 
                Signed in as <%= current_user.name %>
                <% end %> | 
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
              </p>
            </div>
          </div>
      </div>
    <% end %>
    <div class="container">
    	<%= yield %>
          <div class="container">
        <% if flash[:error] -%>
          <br>
          <p class='alert alert-warning'><%=h flash[:error] %></p>
        <% end -%>
        <% if flash[:notice] -%>
          <br>
          <p class='alert alert-success'><%=h flash[:notice] %></p>
        <% end -%>
        <% if flash[:success] -%>
          <br>
          <p class='alert alert-success'><%=h flash[:success] %></p>
        <% end -%>        
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <p class="github">
          <a href="http://github.com/tomeehan/ac-chat">
          <i class="fa fa-github"></i>
          See GitHub Repo
          </a>
        </p>
      </div>      
    </div>
  </body>
</html>
